@import "/src/styles/vars";

.cards {
  --card-width: 332px;
  animation: onMount 0.3s ease-in-out;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
  gap: var(--space-m);
  margin-block: 40px;
  transition: all 0.3s ease-in-out;

  @media (max-width: 728px) {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(100%, var(--card-width));
  }
}

.loading {
  opacity: 0.4;
  pointer-events: none;
  margin-top: 8%;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid var(--gray4);
    border-top-color: var(--gray12);
    animation: spinner 0.6s linear infinite;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}