$c-text: var(--cyan12);
$c-text-light: var(--slate11);
$c-border: var(--slate6);
$c-bg: var(--slate1);

$fz-regular: var(--step--1);
$fz-title: var(--step-1);

$shadow-card-hover: 0 0 15px 0 var(--cyan4);
$gradient-card: linear-gradient(180deg, var(--slate3) 0%, var(--cyan3) 100%);

$focus-outline: 0 0 0 0.2rem var(--cyan5);