@import "/src/styles/vars";

%header-size {
  padding: var(--space-m);
  height: 100px;
}

.ghost {
  @extend %header-size;
}

.header {
  @extend %header-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    font-size: var(--step-2);
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }

  &.scrolled {
    background: linear-gradient(180deg, #{$c-bg} 30%, transparent 100%);

    .logo {
      transform: translateY(-30%);
    }
  }
}